.vim/
*main.py
__pycache__/
add_0.py
calculator_1.py
hidden_4.pyc
variable_load_5.py
*main*
my_file_0.txt
my_first_file.txt
*.json
100-test_lists.py
*-data.js
0-select_states.sql
4-cities_by_state.sql
6-model_state.py
